@import "tailwindcss";
@import "tw-animate-css";

/* Add to your global CSS file (e.g., globals.css) */
@keyframes shimmer {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-shimmer {
    animation: shimmer 2s infinite;
}

.shimmer {
    position: relative;
    overflow: hidden;
}